<div class="chat">
  <div
    class="chat__messages"
    #messagesContainer
    *ngIf="chatHistory$ | async as chatHistory"
  >
    <div *ngIf="chatHistory.length === 0; else messages" class="empty">
      <p>Кажется, тут пока нету сообщений, начните писать первым</p>
    </div>

    <ng-template #messages>
      <app-message
        *ngFor="let message of chatHistory"
        [message]="message"
        [isOwner]="message.tabId === tabId"
      ></app-message
    ></ng-template>
  </div>

  <ng-container *ngIf="filtredTypingTabIds$ | async as typingTabIds">
    <div class="chat__info" *ngIf="typingTabIds.length > 0">
      {{ typingTabIds | typingTabIds }}
    </div>
  </ng-container>

  <div class="chat__manage">
    <form
      [formGroup]="chatFormGroup"
      class="chat__manage_form"
      (ngSubmit)="sendMessage()"
    >
      <mat-form-field appearance="outline" class="form-field">
        <input
          matInput
          formControlName="message"
          class="form-field__textarea"
          placeholder="Начните писать другим вкладкам"
        />
      </mat-form-field>

      <button
        mat-fab
        color="primary"
        class="manual-key"
        type="submit"
        [disabled]="chatFormGroup.invalid"
      >
        <mat-icon> send </mat-icon>
      </button>
    </form>
  </div>
</div>
