:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__messages {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px;
    gap: 10px;
    flex: 1;
    overflow-y: auto;
    background-color: var(--green);
  }

  &__info {
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--grey);
  }

  &__manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px var(--grey);

    &_form {
      display: flex;
      width: 100%;
      gap: 10px;
    }
  }
}

.form-field {
  width: 100%;

  &__textarea {
    resize: none;
  }
}
